    <div id="main">
      <div class="5grid-layout">
        <div class="row main-row">
          <div class="8u">						
			<section class="left-content">
				<h2>Why collect this Information?</h2>
				<p>Growing incidents of CNG Explosions in the city of Mumbai have caused fatal accidents and caused deaths of unaware citizens who are just trying to get from one place to another. CNG is a safe and clean energy source and if properly inspected and maintained, these cylinders do not pose any significant threat. However an uninspected CNG cylinder when filled with gas does pose threats of significant magnitude due to the Gas Pressure. It is important that as vigilant citizens, we track the maintenance of these cylinders. Law enforcment officers are doing their part, but Aam Aadmi can collaborate too.</p>
				
				<h2>How can I use this?</h2>
				<p>Before hiring a public transport vehicle, you can check if the vehicle has current CNG certification by simply entering the vehicle license plate.  Why get into a Rickshaw which is like a ticking time bomb, when you can ensure your safety with a click of a button. Moms you can ensure that the Private Vehicle operator who drops your kids to school has current certification.</p>

				<h2>How can I Contribute?</h2>
				<p>You can contribute to this information portal by submitting information about the CNG inspection status of the Public Transport vehicle you are riding in. The CNG certification is carried by the vehicle operator and you just need to request a copy of the same. Enter minimal details like whether the cylinder has been inspected and if the inspection is current along with the expiration date. You can view the results posted by other users as well.</p>

			</section>
			</div>
			<div class="4u">

				<section>
					<h2>Development Team</h2>
					<ul class="small-image-list">
						<li>
							<a href="http://amoghconsultants.com"><img src="http://amoghconsultants.com/wp-content/uploads/2012/05/my_LogoSmall.png" alt="Logo" class="left" /></a>
							<h4>Amogh Consultants</h4>
							<p>Amogh Consultants is a Software and Cloud Development Services provider with offices in India and USA. We specialize in Application Design, Development and Cloud Hosting. </p>
						</li>
					</ul>
				</section>
			</div>
          </div>
        </div>
      </div>
    </div>				