<script type="application/javascript">
    // Helpers
    shuffle = function(o) {
        for ( var j, x, i = o.length; i; j = parseInt(Math.random() * i), x = o[--i], o[i] = o[j], o[j] = x)
            ;
        return o;
    };

    String.prototype.hashCode = function(){
        // See http://www.cse.yorku.ca/~oz/hash.html        
        var hash = 5381;
        for (i = 0; i < this.length; i++) {
            char = this.charCodeAt(i);
            hash = ((hash<<5)+hash) + char;
            hash = hash & hash; // Convert to 32bit integer
        }
        return hash;
    }

    Number.prototype.mod = function(n) {
        return ((this%n)+n)%n;
    }
    
    function playSong()
    {
        var song = $("#selectedDay").get(0);
        song.play();
        song.addEventListener("ended", function() {
            $("#talkToMe").hide();
            song.setAttribute("src",wheel.segments[winningIndex] + ".mp3");
            song.play();
            song.addEventListener("ended", function() {
                song.setAttribute("src","");
                song.play();

            });
        });
    }
</script>
<script type="text/javascript">
var winningIndex;
var hiddenMonth1, hiddenMonth2, hiddenMonth1Key, hiddenMonth2Key;
var hiddenMonth1Angle, hiddenMonth2Angle;
var hiddenMonth1LastAngle, hiddenMonth2LastAngle;
var timer1,timer2;
    // WHEEL!
    var wheel = {

        timerHandle : 0,
        timerDelay : 33,

        angleCurrent : 0,
        angleDelta : 0,

        size : 140,

        canvasContext : null,

        colors : [ '#ffff00', '#ffc700', '#ff9100', '#ff6301', '#ff0000', '#c6037e',
                   '#713697', '#444ea1', '#2772b2', '#0297ba', '#008e5b', '#8ac819' ],

        //segments : [ 'Andrew', 'Bob', 'Fred', 'John', 'China', 'Steve', 'Jim', 'Sally', 'Andrew', 'Bob', 'Fred', 'John', 'China', 'Steve', 'Jim'],
        segments : [],

        seg_colors : [], // Cache of segments to colors
        
        maxSpeed : Math.PI / 16,

        upTime : 1000, // How long to spin up for (in ms)
        downTime : 17000, // How long to slow down for (in ms)

        spinStart : 0,

        frames : 0,

        centerX : 160,
        centerY : 150,

        spin : function() {
            if (timer1 != 'undefined')
                window.clearInterval(timer1);
            if (timer2 != 'undefined')
                window.clearInterval(timer2);  
            $("#star").hide(); 

            var segments = new Array();
             $.each(venues, function(key, item) { 
                segments.push( item );
            });

            wheel.segments = segments;
            // Start the wheel only if it's not already spinning
            if (wheel.timerHandle == 0) {
                wheel.spinStart = new Date().getTime();
                wheel.maxSpeed = Math.PI / (16 + Math.random()); // Randomly vary how hard the spin is
                wheel.frames = 0;
                wheel.sound.play();

                wheel.timerHandle = setInterval(wheel.onTimerTick, wheel.timerDelay);
            }
        },

        onTimerTick : function() {

            wheel.frames++;

            wheel.draw();

            var duration = (new Date().getTime() - wheel.spinStart);
            var progress = 0;
            var finished = false;

            if (duration < wheel.upTime) {
                progress = duration / wheel.upTime;
                wheel.angleDelta = wheel.maxSpeed
                        * Math.sin(progress * Math.PI / 2);
            } else {
                progress = duration / wheel.downTime;
                wheel.angleDelta = wheel.maxSpeed
                        * Math.sin(progress * Math.PI / 2 + Math.PI / 2);
                if (progress >= 1)
                    finished = true;
            }

            wheel.angleCurrent += wheel.angleDelta;
            while (wheel.angleCurrent >= Math.PI * 2)
                // Keep the angle in a reasonable range
                wheel.angleCurrent -= Math.PI * 2;

            if (finished) {
                clearInterval(wheel.timerHandle);
                wheel.timerHandle = 0;
                wheel.angleDelta = 0;

                $("#counter").html((wheel.frames / duration * 1000) + " FPS");

                wheel.drawWheelWithHideSegment(winningIndex);
                wheel.drawNeedle();
                $("#showAnswer").show();
                $("#talkToMe").show();
                playSong();
                var segmentPopSound = $("#segmentPop").get(0);
                segmentPopSound.setAttribute('src',"http://soundjax.com/reddo/24372%5Epop2.mp3");    
                var x;
                timer1 = setInterval(function() {
                    segmentPopSound.play();
                    if(x == 0) {
                        wheel.drawColorSegment(winningIndex-1, hiddenMonth1LastAngle, hiddenMonth1Angle, "#FF9900");
                        wheel.drawColorSegment(winningIndex+1, hiddenMonth2LastAngle, hiddenMonth2Angle, "#FF9900");
                        wheel.drawInnerWheel();
                        x= 1;
                    }
                    else{
                        wheel.drawColorSegment(winningIndex-1, hiddenMonth1LastAngle, hiddenMonth1Angle, "#FFff00");
                        wheel.drawColorSegment(winningIndex+1, hiddenMonth2LastAngle, hiddenMonth2Angle, "#ffff00"); 
                        wheel.drawInnerWheel();
                        x=0;
                    } 
                }, 1000);
                }
            /*
            // Display RPM
            var rpm = (wheel.angleDelta * (1000 / wheel.timerDelay) * 60) / (Math.PI * 2);
            $("#counter").html( Math.round(rpm) + " RPM" );
             */
        },

        init : function(optionList) {
            try {
                wheel.initWheel();
                wheel.initAudio();
                wheel.initCanvas();
                wheel.draw();

                $.extend(wheel, optionList);

            } catch (exceptionData) {
                alert('Wheel is not loaded ' + exceptionData);
            }

        },

        initAudio : function() {
            var sound = document.createElement('audio');
            sound.setAttribute('src', 'wheel.mp3');
            wheel.sound = sound;
        },

        initCanvas : function() {
            var canvas = $('#wheel #canvas').get(0);

            if ($.browser.msie) {
                canvas = document.createElement('canvas');
                $(canvas).attr('width', 1000).attr('height', 600).attr('id', 'canvas').appendTo('.wheel');
                canvas = G_vmlCanvasManager.initElement(canvas);
            }

            canvas.addEventListener("click", wheel.spin, false);
            wheel.canvasContext = canvas.getContext("2d");
        },

        initWheel : function() {
            shuffle(wheel.colors);
        },

        // Called when segments have changed
        update : function() {
            // Ensure we start mid way on a item
            //var r = Math.floor(Math.random() * wheel.segments.length);
            var r = 0;
            wheel.angleCurrent = ((r + 0.5) / wheel.segments.length) * Math.PI * 2;
            var segments = wheel.segments;
            var len      = segments.length;
            var colors   = wheel.colors;
            var colorLen = colors.length;

            // Generate a color cache (so we have consistant coloring)
            var seg_color = new Array();
            for (var i = 0; i < len; i++)
                seg_color.push( colors [ segments[i].hashCode().mod(colorLen) ] );
            seg_color[0] = colors[8];
            wheel.seg_color = seg_color;

            wheel.draw();
        },

        draw : function() {
            wheel.clear();
            wheel.drawWheel();
            wheel.drawNeedle();
        },

        clear : function() {
            var ctx = wheel.canvasContext;
            ctx.clearRect(0, 0, 1000, 800);
        },

        drawNeedle : function() {
            var ctx = wheel.canvasContext;
            var centerX = wheel.centerX;
            var centerY = wheel.centerY;
            var size = wheel.size;

            ctx.lineWidth = 7;
            ctx.strokeStyle = '#000000';
            ctx.fillStyle = '#FF0066';

            ctx.beginPath();

            ctx.moveTo(centerX + size - 15, centerY);
            ctx.lineTo(centerX + size + 20, centerY - 15);
            ctx.lineTo(centerX + size + 20, centerY + 15);
            ctx.closePath();

            ctx.stroke();
            ctx.fill();
            // Which segment is being pointed to?
            var i = wheel.segments.length - Math.floor(((wheel.angleCurrent) / (Math.PI * 2)) * wheel.segments.length) - 1;

            // Now draw the winning name
            ctx.textAlign = "left";
            ctx.textBaseline = "middle";
            ctx.fillStyle = '#FF0066';
            ctx.font = "2em Arial";
            //ctx.fillText(wheel.segments[i], centerX + size + 25, centerY);
            winningIndex = i;
            var song = $("#selectedDay").get(0);
            song.setAttribute("src", "WDCA.mp3")


        },
        drawColorSegment : function(key, lastAngle, angle, color) {
            var ctx = wheel.canvasContext;
            var centerX = wheel.centerX;
            var centerY = wheel.centerY;
            var size = wheel.size;

            var segments = wheel.segments;
            var len = wheel.segments.length;
            var colors = wheel.seg_color;

            var value = segments[key];
            
            ctx.save();
            ctx.beginPath();
            ctx.lineWidth = 1;
            // Start in the centre
            ctx.moveTo(centerX, centerY);
            ctx.arc(centerX, centerY, size, lastAngle, angle, false); // Draw a arc around the edge                
            ctx.lineTo(centerX, centerY); // Now draw a line back to the centre

            // Clip anything that follows to this area
            //ctx.clip(); // It would be best to clip, but we can double performance without it
            ctx.closePath();

            ctx.fillStyle = color;
            ctx.fill();
            ctx.stroke();

            // Now draw the text
            ctx.save(); // The save ensures this works on Android devices
            ctx.translate(centerX, centerY);
            ctx.rotate((lastAngle + angle) / 2);

            ctx.fillStyle = '#000000';
            ctx.restore();

            ctx.restore();
        },        

        drawSegment : function(key, lastAngle, angle) {
            var ctx = wheel.canvasContext;
            var centerX = wheel.centerX;
            var centerY = wheel.centerY;
            var size = wheel.size;

            var segments = wheel.segments;
            var len = wheel.segments.length;
            var colors = wheel.seg_color;

            var value = segments[key];
            
            ctx.save();
            ctx.beginPath();

            // Start in the centre
            ctx.moveTo(centerX, centerY);
            if(value=="")
            {
                ctx.arc(centerX, centerY, size, lastAngle, angle, false); // Draw a arc around the edge  
                if (key==hiddenMonth1Key){
                    hiddenMonth1Angle = angle;
                    hiddenMonth1LastAngle = lastAngle;
                }
                if (key==hiddenMonth2Key){
                    hiddenMonth2Angle = angle;
                    hiddenMonth2LastAngle = lastAngle;
                }              
            }
            else
                ctx.arc(centerX, centerY, size, lastAngle, angle, false); // Draw a arc around the edge
            ctx.lineTo(centerX, centerY); // Now draw a line back to the centre

            // Clip anything that follows to this area
            //ctx.clip(); // It would be best to clip, but we can double performance without it
            ctx.closePath();

            ctx.fillStyle = colors[key];
            ctx.fill();
            ctx.stroke();

            // Now draw the text
            ctx.save(); // The save ensures this works on Android devices
            ctx.translate(centerX, centerY);
            ctx.rotate((lastAngle + angle) / 2);

            ctx.fillStyle = '#000000';
            ctx.fillText(value.substr(0, 20), size / 2 + 20, 0);
            ctx.restore();

            ctx.restore();
        },

        drawWheelWithHideSegment : function(key) {
            var ctx = wheel.canvasContext;

            var angleCurrent = wheel.angleCurrent;
            var lastAngle    = angleCurrent;
            if (key == 6)
            {   
                hiddenMonth1Key = key-1;
                hiddenMonth2Key = 0;
                hiddenMonth1 = wheel.segments[key-1];
                hiddenMonth2 = wheel.segments[0];
                wheel.segments[0] = "";
                wheel.segments[key-1] = "";
            }
            else if (key == 0)
            {   
                hiddenMonth1Key = 6;
                hiddenMonth2Key = key + 1;
                hiddenMonth1 = wheel.segments[6];
                hiddenMonth2 = wheel.segments[key+1];
                wheel.segments[6] = "";
                wheel.segments[key+1] = "";
            }
            else
            {
                hiddenMonth1Key = key-1;
                hiddenMonth2Key = key+1;
                hiddenMonth1 = wheel.segments[key-1];
                hiddenMonth2 = wheel.segments[key+1];
                wheel.segments[key-1] = "";
                wheel.segments[key+1] = "";
            }            

            var segments  = wheel.segments;
            var len       = wheel.segments.length;
            var colors    = wheel.colors;
            var colorsLen = wheel.colors.length;

            var centerX = wheel.centerX;
            var centerY = wheel.centerY;
            var size    = wheel.size;

            var PI2 = Math.PI * 2;

            ctx.lineWidth    = 1;
            ctx.strokeStyle  = '#000000';
            ctx.textBaseline = "middle";
            ctx.textAlign    = "center";
            ctx.font         = "1.0em Arial";

            for (var i = 1; i <= len; i++) {
                var angle = PI2 * (i / len) + angleCurrent;
                wheel.drawSegment(i - 1, lastAngle, angle);
                lastAngle = angle;
            }
            // Draw a center circle
            ctx.beginPath();
            ctx.arc(centerX, centerY, 20, 0, PI2, false);
            ctx.closePath();

            ctx.fillStyle   = '#ffffff';
            ctx.strokeStyle = '#000000';
            ctx.fill();
            ctx.stroke();

            // Draw outer circle
            ctx.beginPath();
            ctx.arc(centerX, centerY, size, 0, PI2, false);
            ctx.closePath();

            ctx.lineWidth   = 1;
            ctx.strokeStyle = '#000000';
            ctx.stroke();
        },

        drawWheelWithShowSegment : function(key) {
            var ctx = wheel.canvasContext;

            var angleCurrent = wheel.angleCurrent;
            var lastAngle    = angleCurrent;
            if (key == 6)
            {   
                wheel.segments[winningIndex-1] = hiddenMonth1;
                wheel.segments[0] = hiddenMonth2;
            }
            else if (key == 0)
            {   
                wheel.segments[6] = hiddenMonth1;
                wheel.segments[key+1] = hiddenMonth2;
            }
            else
            {
                wheel.segments[winningIndex-1] = hiddenMonth1;
                wheel.segments[winningIndex+1] = hiddenMonth2;
            }            



            var segments  = wheel.segments;
            var len       = wheel.segments.length;
            var colors    = wheel.colors;
            var colorsLen = wheel.colors.length;

            var centerX = wheel.centerX;
            var centerY = wheel.centerY;
            var size    = wheel.size;

            var PI2 = Math.PI * 2;

            ctx.lineWidth    = 1;
            ctx.strokeStyle  = '#000000';
            ctx.textBaseline = "middle";
            ctx.textAlign    = "center";
            ctx.font         = "1.0em Arial";

            for (var i = 1; i <= len; i++) {
                var angle = PI2 * (i / len) + angleCurrent;
                wheel.drawSegment(i - 1, lastAngle, angle);
                lastAngle = angle;
            }
            // Draw a center circle
            ctx.beginPath();
            ctx.arc(centerX, centerY, 20, 0, PI2, false);
            ctx.closePath();

            ctx.fillStyle   = '#ffffff';
            ctx.strokeStyle = '#000000';
            ctx.fill();
            ctx.stroke();

            // Draw outer circle
            ctx.beginPath();
            ctx.arc(centerX, centerY, size, 0, PI2, false);
            ctx.closePath();

            ctx.lineWidth   = 3;
            ctx.strokeStyle = '#000000';
            ctx.stroke();
        },

        drawInnerWheel : function() {
            var ctx = wheel.canvasContext;

            var angleCurrent = wheel.angleCurrent;
            var lastAngle    = angleCurrent;

            var segments  = wheel.segments;
            var len       = wheel.segments.length;
            var colors    = wheel.colors;
            var colorsLen = wheel.colors.length;

            var centerX = wheel.centerX;
            var centerY = wheel.centerY;
            var size    = wheel.size;

            var PI2 = Math.PI * 2;

            // Draw a center circle
            ctx.beginPath();
            ctx.arc(centerX, centerY, 20, 0, PI2, false);
            ctx.closePath();

            ctx.fillStyle   = '#ffffff';
            ctx.strokeStyle = '#000000';
            ctx.fill();
            ctx.stroke();


        },
        drawWheel : function() {
            var ctx = wheel.canvasContext;

            var angleCurrent = wheel.angleCurrent;
            var lastAngle    = angleCurrent;

            var segments  = wheel.segments;
            var len       = wheel.segments.length;
            var colors    = wheel.colors;
            var colorsLen = wheel.colors.length;

            var centerX = wheel.centerX;
            var centerY = wheel.centerY;
            var size    = wheel.size;

            var PI2 = Math.PI * 2;

            ctx.lineWidth    = 1;
            ctx.strokeStyle  = '#000000';
            ctx.textBaseline = "middle";
            ctx.textAlign    = "center";
            ctx.font         = "1.0em Arial";

            for (var i = 1; i <= len; i++) {
                var angle = PI2 * (i / len) + angleCurrent;
                wheel.drawSegment(i - 1, lastAngle, angle);
                lastAngle = angle;
            }
            // Draw a center circle
            ctx.beginPath();
            ctx.arc(centerX, centerY, 20, 0, PI2, false);
            ctx.closePath();

            ctx.fillStyle   = '#ffffff';
            ctx.strokeStyle = '#000000';
            ctx.fill();
            ctx.stroke();

            // Draw outer circle
            ctx.beginPath();
            ctx.arc(centerX, centerY, size, 0, PI2, false);
            ctx.closePath();

            ctx.lineWidth   = 10;
            ctx.strokeStyle = '#000000';
            ctx.stroke();
        },
    }

    window.onload = function() {

            venues = {
        "0"  : "Sunday",
        "1"  : "Monday",
        "2"  : "Tuesday",
        "3"  : "Wednesday",
        "4"  : "Thursday",
        "5"  : "Friday",
        "6"  : "Saturday"
    };
    var wheelsize = ($(".middle-content").width() - 45 )/ 2;
        wheel.init({
            size : wheelsize,
            centerX : $(".middle-content").width() / 2,
            centerY : $(".middle-content").height() / 2 - 40,
        });
        
        var segments = new Array();
         $.each(venues, function(key, item) { 
            segments.push( item );
        });

        wheel.segments = segments;
        wheel.update();

        // Hide the address bar (for mobile devices)!
        setTimeout(function() {
            window.scrollTo(0, 1);
        }, 0);
    }
    </script>
<script type="text/javascript">
    jQuery(function() {
        // $("#header-wrapper").hide();
        // $("#mobileUI-site-titlebar").hide();
        $("#mobileUI-site-title").text("Time Teacher");
        $(".mobileUI-site-nav-link").each(function(){
            if ($(this).text() == "Homepage" || $(this).text() == "About"){
                $(this).hide();
            }
        });

        $("h1").hide();
        $("h3").hide();
        $("#showAnswer").hide();
        $("#star").hide();   
        if (timer2 != 'undefined')
            window.clearInterval(timer2);  
        $("#talkToMe").click(function () {playSong();});
        $("#talkToMe").hide();
        $("#showAnswer").click(function (){
                $("#talkToMe").hide();
                var clap = $("#clap").get(0);
                clap.setAttribute('src',"GB.mp3");
                clap.addEventListener("ended", function() {
                    clap.setAttribute("src","DBI.mp3");
                    clap.play();
                    clap.addEventListener("ended", function() {
                        clap.setAttribute("src",hiddenMonth1 + ".mp3");
                        clap.play();
                        clap.addEventListener("ended", function() {
                            clap.setAttribute("src","DAI.mp3");
                            clap.play();
                            clap.addEventListener("ended", function() {
                                clap.setAttribute("src",hiddenMonth2 + ".mp3");
                                clap.play();
                                clap.addEventListener("ended", function() {
                                    clap.setAttribute("src","http://soundjax.com/reddo/82925%5ECLAP.mp3");
                                    clap.play();
                                    clap.addEventListener("ended", function() {
                                        clap.setAttribute("src","");
                                        clap.play();
                                    });
                                });
                            });
                        });
                    });
                });
                $("#star").show();
                var x;
                timer2 = setInterval(function() {
                    if (x==0){
                        $("#star").addClass("nostar");
                        $("#star").removeClass("star");
                        x = 1;
                    } 
                    else
                    {
                        $("#star").addClass("star");
                        $("#star").removeClass("nostar");
                        x = 0;  
                    }
                }, 500);
                setTimeout("clap.play()", 500);
                wheel.drawWheelWithShowSegment();
                wheel.drawNeedle();
                $(this).hide();
                if (timer1 != 'undefined')
                    window.clearInterval(timer1);
        });
      });
</script>

    <div id="main">
      <div class="5grid-layout">
        <div class="row main-row">
          <div class="6u ">
            <section class="middle-content">
            <ul class="horizontalMenu">
                <li class="horizontalMenu"><%= link_to 'Time', time_path , :id => "time" %></li>
                <li class="horizontalMenu"><%= link_to 'Week', days_path, :id => "days", :class => "current-page-item" %></li>
                <li class="horizontalMenu"><%= link_to 'Month', months_path, :id => "months" %></li>
            </ul>
              <h2 style="text-align:center;font-size:40px;">Days of the Week</h2>

                <div id="star" class="nostar"></div>
                <audio id="clap" src=""></audio>                
                <div id="wheel">
                    <canvas id="canvas" width="600" height="300"></canvas>
                </div>
                <audio id="selectedDay" src=""></audio>
                <audio id="segmentPop" src=""></audio>                
                <div id="play" style="text-align:center;" >
                  <h3 style="font-size:30px;"></h3> <br/>
                    <input type='button' class="button" id="talkToMe"  value="Ask Me" />
                    <input type='button' class="button" id="showAnswer"  value="Answer" />
                </div>
            </section>
          </div>
        </div>
      </div>
    </div>