    <script type="text/javascript">

        $(document).ready(function() {

          $("#timeset").click(function (){
            var hourvalue = $('#hours').val();
            var minvalue = $('#mins').val();
            setClockToTime(hourvalue, minvalue, 0);
          });

        $("h1").hide();
        $("#header-wrapper").hide();
        $("#mobileUI-site-titlebar").hide();
        });

        function setClockToTime (setHour, setMin, setSeconds) {

                    var seconds = setSeconds;
                    var sdegree = seconds * 6;
                    var srotate = "rotate(" + sdegree + "deg)";

                    $("#sec").css({"-moz-transform" : srotate, "-webkit-transform" : srotate});


                    var hours = setHour;
                    var mins = setMin;
                    var hdegree = hours * 30 + (mins / 2);
                    var hrotate = "rotate(" + hdegree + "deg)";

                    $("#hour").css({"-moz-transform" : hrotate, "-webkit-transform" : hrotate});


                    var mins = setMin;
                    var mdegree = mins * 6;
                    var mrotate = "rotate(" + mdegree + "deg)";

                    $("#min").css({"-moz-transform" : mrotate, "-webkit-transform" : mrotate});

        }

    </script>

    <div id="main">
      <div class="5grid-layout">
        <div class="row main-row">
          <div class="6u ">
            <section class="middle-content">
              <h2 style="text-align:center;font-size:40px;">What Time Is IT?</h2>
                <ul id="clock">
                    <li id="sec"></li>
                    <li id="hour"></li>
                    <li id="min"></li>
                </ul>
                <div id="play" style="text-align:center;" >
                  Hours: <input type="range" id="hours" min="1" max="12"> : 
                  <input type="range" id="mins" min="0" max="60" step="15"> Mins <br/>
                  <input type='button' class="button" id="timeset" value="Play Again" />
                </div>
            </section>
          </div>
        </div>
      </div>
    </div>