    <script type="text/javascript">
var hourvalue ;
var minvalue;
        jQuery(function() {

          $("#timeset").click(function (){
            $("h3").hide();
            if ($("#mobileUI-site-content").length)
                $("#clock").css({"background":"url(assets/images/clockface_mobile.jpg)"}); 
            else
                $("#clock").css({"background":"url(assets/images/clockface.jpg)"}); 

            hourvalue = getRandomInt (1, 12);
            minvalue = getRandomInt (0, 11) * 5;
            $('#hours').val(hourvalue);
            $('#mins').val(minvalue);
            setClockToTime(hourvalue, minvalue, 0);
            $("#showAnswer").show();
          });

          $("#showAnswer").click(function (){


            $("h3").show();
            $("h3").text("Hour " + hourvalue + " : " + minvalue + " Mins");
            var song = $("#sound").get(0);
            song.setAttribute('src',"http://speechutil.com/convert/ogg?text='The clock says its'"+hourvalue +"hours" + minvalue + "minutes");
            song.play();
            explainClock();
            


          });

        $("h1").hide();
        $("h3").hide();
        hourvalue = getRandomInt (1, 12);
        minvalue = getRandomInt (0, 3) * 15;
        $('#hours').val(hourvalue);
        $('#mins').val(minvalue);
        setClockToTime(hourvalue, minvalue, 0);
        $("h3").text("Hour " + hourvalue + " : " + minvalue + " Mins");
 //       $("#header-wrapper").hide();
//        $("#mobileUI-site-titlebar").hide();
        $("#mobileUI-site-title").text("Time Teacher");
        $(".mobileUI-site-nav-link").each(function(){
            if ($(this).text() == "Homepage" || $(this).text() == "About"){
                $(this).hide();
            }
        });
        });

        function getRandomInt (min, max) {
            return Math.floor(Math.random() * (max - min + 1)) + min;
        }

        function setClockToTime (setHour, setMin, setSeconds) {

                    var seconds = setSeconds;
                    var sdegree = seconds * 6;
                    var srotate = "rotate(" + sdegree + "deg)";

                    $("#sec").css({"-moz-transform" : srotate, "-webkit-transform" : srotate});


                    var hours = setHour;
                    var mins = setMin;
                    var hdegree = hours * 30 + (mins / 2);
                    var hrotate = "rotate(" + hdegree + "deg)";

                    $("#hour").css({"-moz-transform" : hrotate, "-webkit-transform" : hrotate});


                    var mins = setMin;
                    var mdegree = mins * 6;
                    var mrotate = "rotate(" + mdegree + "deg)";

                    $("#min").css({"-moz-transform" : mrotate, "-webkit-transform" : mrotate});

                    var song = $("#sound").get(0);
                    song.setAttribute('src',"http://speechutil.com/convert/ogg?text='What Time Is It?'")
                    song.play();

        }

        function explainClock()
        {
            //background: url(images/hourhand_mobile.png);
            if ($("#mobileUI-site-content").length)
                $("#clock").css({"background":"url(assets/images/clockface_explain_mobile.jpg)"}); 
            else
                $("#clock").css({"background":"url(assets/images/clockface_explain.jpg)"}); 
            $("#min").hide();
            //$("#hour").delay(3000).hide(0);
            $("#min").delay(3000).show(0);
            $("#hour").delay(6000).show(0);
        }

    </script>
    <div id="main">
      <div class="5grid-layout">
        <div class="row main-row">
          <div class="6u ">
            <section class="middle-content">
              <h2 style="text-align:center;font-size:40px;">What Time Is IT?</h2>
                <ul id="clock">
                    <li id="sec"></li>
                    <li id="hour"></li>
                    <li id="min"></li>
                </ul>
                <audio id="sound" src=""></audio>
                <div id="play" style="text-align:center;" >
                  <h3 style="font-size:30px;"></h3> <br/>
                  <input type='button' class="button" id="timeset" value="Play Again" />
                  <input type='button' class="button" id="showAnswer" value="Answer" />
                </div>
            </section>
          </div>
        </div>
      </div>
    </div>