<p id="notice"><%= notice %></p>
<p>
  <b>Name:</b>
  <%= @vehicle_type.vehicle_type_name %>
</p>

<%= link_to 'Edit', edit_vehicle_type_path(@vehicle_type) %> |
<%= link_to 'Back', vehicle_types_path %>
